{% extends 'TP5/template.html.twig' %}

{% block title %}TP5 Contact{% endblock %}

{% block body %}

<div class="container px-5">
  <div class="col-6">
    <h1>Liste de souhaits </h1>
    <table class="table table-striped">
        <thead>
          <tr>
              <th>Titre</th>
              <th>Auteur</th>
          </tr>
        </thead>
        <tbody>
          {% for wish in tab %}
            <tr>
                <td>{{ wish.title }}</td>
                <td>{{ wish.author }}</td>
                <td>
                    <a href="{{ path('tp5-detail',{id: wish.id}) }}" class="btn btn-primary">Voir</a>
                </td>
                <td>
                    <a href="{{ path('tp5-edit',{id: wish.id}) }}" class="btn btn-success">
                        <i class="fa fa-edit">Editer</i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('tp5-delete',{id: wish.id}) }}" class="btn btn-danger">
                        <i class="fa fa-trash">Supprimer</i>
                    </a>

                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('tp5-add') }}" class="btn btn-success">
        <i class="fa fa-plus">Nouveau</i>
    </a> 
  </div>
</div>

{% endblock %}
